.add_btn{
    width:200px;
    margin:auto
}

.donation_img {
    background-size: cover !important
}

.switch_buttons{
    margin-bottom: 10px;
}

.not_found{
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    color:rgb(82, 82, 68)
}

.container{
    Width:70%;
    margin:auto
}

.list_container{
    font-family: 'Roboto' !important
}
.list_container h2{
    font-family: 'Roboto' !important;
    font-size:20px !important
}

.list_container b{
    color:grey
}

