.container{
    margin: auto;
    width: 600px;
}

.container img{
    height: 200px;
    width:100%;
    background-size:cover !important
}

.card{
    margin: auto;
    width:300px;
    padding-bottom:10px
}